<div class="movie-card" id="<%= dom_id movie %>">
  <h5><%= movie.title %></h5>
  <p><strong>Rating:</strong> <%= movie.rating %></p>
  <% if movie.description.present? %>
    <p><strong>Description:</strong> <%= truncate(movie.description, length: 120) %></p>
  <% end %>
  <p><strong>Release date:</strong> <%= movie.release_date %></p>
  <p><%= link_to "Show", movie, class: 'btn btn-link p-0' %></p>
</div>
